/* color palette variables */
:root {
    --primary: #0a2f35;
    --active: #12492f;
    --body-links: #f7a325;
    --header: #ffca7a;
    --highlight: #f56038;
}

/* General styles */

* {
    margin: 0;
}


/* Required for the landing page layout */
html, body {
    height: 100%;
}

body {
    font-family: 'Albert Sans', sans-serif;
    color: var(--primary)
}



/* NAV STYLES*/
.no-styles {
    background: none;
    color: var(--header);
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 24px;
    margin-left: 0px;
    text-decoration: none;
    font-family: 'Albert Sans', sans-serif;
}

.no-styles:hover{
    background-color: var(--header);
    color: var(--primary)
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav ul li {
    display: inline;
    padding: 15px;
}

nav {

    padding: 40px;
    margin-left: 0;
}

nav ul li a{
    color: var(--header);
    text-decoration: none;
    font-size: 24px;
    padding: 5px;
}

nav ul li a:visited {
    color: var(--header);
}

nav ul li a:hover {
    background-color: var(--header);
    color: var(--primary);
    text-decoration: none;
}

.content {
    margin-left: 20px;
}

.landing-content hr {
    margin-bottom: 25px;
}

/* Modifications to Simple Grid styles */
.grid {
    /* Force grid to take up full wdith and height of browser */
    height: 100%;
    max-width: 100%;
}

/* MEDIA QUERIES */
/* Make the header fonts a bit smaller at this size */
@media screen and (max-width: 1036px) {
    nav {
        padding: 20px;
    }

    header h1 {
        font-size: 60px;
    }
}

/* Switch to column view in the header at this point so we don't have text breaking to a new line */
@media screen and (max-width: 936px) {
    .main-layout {
        flex-direction: column;
        justify-content:space-around;
    }
    header h1 {
        margin: 0 auto;
    }

    nav {
        margin: 0 auto;
    }
}
